
export("ITALICS", "analyseCGH", "getQuartet", "getResidu", "getCorrection", "getEffet", "getConfDat", "getModel", "readQuartetCopyNb", "getSnpInfo", "fromSnpToQuartet", "fromQuartetToSnp", "addInfo", "trainITALICS")

